<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="rounded" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} Maria Del Valle {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>¡Hola! mi nombre es María, tengo 28 años y soy estudiante de la carrera de Derecho. El curso de Argentina
                Programa es mi primera experiencia en el mundo de la programación y este es mi primer proyecto.
                Amo los gatos, la música, dibujar y me encantaría seguir aprendiendo programación :)</p>
        </span>
    </div>
</div>