<div class="row">
    <h1>Mis proyectos</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <ul>
                    <h3>Argentina programa</h3>
                    <p>Mi primer portfolio con lo aprendido en las clases</p>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://cepimaria.web.app/"> <img src="../../../assets/portafolio.gif" id="Portafolio"> </a>
            </div>
        

            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <ul>
                    <h3>Neopets</h3>
                    <p>Página de mascotas virtuales, muestrario de mis mascotas</p>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://www.neopets.com/~Anayaae"> <img src="../../../assets/NeoPagina.gif" id="Portafolio"> </a>
            </div>

        </div>
    </div>
</div>
