.gradient-custom {
    background: black;
    }
    h2 {
        font-family: "Trebuchet MS", Verdana, sans-serif;
        display: inline;
        color: #d05292;
        text-shadow: #555 2px 2px 4px;
    
    }

    p {
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        color: #d05292;
    }