.row{
    padding: 20px;
}
div{
    background: black;
}
h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    display: inline;
    color: #d05292;
    text-shadow: #555 2px 2px 4px;
}

h3 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    display: inline;
    color: white;
}


p {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: white;
}