.row{
    background: black;
}
footer{
    color: #8f8f8f;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}

p{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: #bbb8ba;
    }